.dark {
  .card {
    .card-header, .card-body, .card-footer {
      background-color: #333;
      color: #fff;
    }

  }
}

.light {
  .card {
    .card-header, .card-body, .card-footer {
      background-color: #fff;
      color: #333;
    }

  }
}

.Navbar {
  min-height: 42px;
  border: 1px solid #d3d3d3;
}